# Example Environment variables for bakery_payment_service
ACTIVE_PROFILE=
CONFIG_SERVER_URL=
EUREKA_URL=
KAFKA_BOOTSTRAP_SERVERS=
PAYMENT_DB_PASSWORD=
PAYMENT_DB_URL=
PAYMENT_DB_USER=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
SQUARE_ACCESS_TOKEN=
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

SERVER_PORT=
