CONFIG_SERVER_URL=http://bakery-config-server:8021
PAYMENT_DB_URL=jdbc:postgresql://bakery-payments-db:5432/bakery_payments
PAYMENT_DB_USER=payment_user
PAYMENT_DB_PASSWORD=your_payment_db_password
KAFKA_BOOTSTRAP_SERVERS=bakery-kafka:9092
EUREKA_URL=http://bakery-eureka-server:8761/eureka/
