# Example Environment variables for bakery_payment_service
ACTIVE_PROFILE=dev
CONFIG_SERVER_URL=http://config-server:8021
EUREKA_URL=http://eureka-server:8761/eureka/
KAFKA_BOOTSTRAP_SERVERS=bakery-kafka:9092
PAYMENT_DB_PASSWORD=payment_password
PAYMENT_DB_URL=jdbc:postgresql://bakery-payments-db:5432/bakery_payments
PAYMENT_DB_USER=payment_user
PAYPAL_CLIENT_ID=xxxx
PAYPAL_CLIENT_SECRET=xxxx
SQUARE_ACCESS_TOKEN=xxxx
STRIPE_API_KEY=sk_test_xxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxx
